---
import '@/index.css';
import HomeNavigation from '@/components/HomeNavigation.astro';
import HomeFooter from '@/components/HomeFooter.astro';
import EmptyLayout from '@/layouts/EmptyLayout.astro';

const pageTitle = "home";
---

<EmptyLayout title={pageTitle}>
  <div class="welcome">
    <HomeNavigation />
    <HomeFooter />
  </div>
</EmptyLayout>
