---

---

{
  /*
TODO:
* 1. Store to handle cart state
 */
}
<footer class="hidden sm:flex w-full justify-between items-center px-4 h-16">
  <div class="flex justify-end gap-4">
    <a
      href="https://www.instagram.com/goat__corp/?hl=en"
      target="_blank"
      class="uppercase hover:cursor-pointer hover:underline hover:text-primary"
    >
      INSTAGRAM
    </a>
    <a
      href="https://www.youtube.com/@goat7480"
      target="_blank"
      class="uppercase hover:cursor-pointer hover:underline hover:text-primary"
    >
      YOUTUBE
    </a>
  </div>

  <div class="flex justify-end gap-4">
    <div class="flex gap-4">
      <p class="uppercase">©2024 ГОАТ.КОРП МОСКВА</p>
    </div>
  </div>
</footer>
