---

---

<nav class="hidden sm:flex gap-4">
  <a href="/" class="hover:cursor-pointer uppercase hover:underline hover:text-primary">
    ГЛАВНАЯ
  </a>
  <a href="/shop" class="hover:cursor-pointer uppercase hover:underline hover:text-primary">
    МАГАЗИН
  </a>
  <a href="/about" class="hover:cursor-pointer uppercase hover:underline hover:text-primary">
    ЧТО ЭТО?
  </a>
</nav>

<div class="sm:hidden uppercase text-2xl text-primary hover:cursor-pointer hover:underline">
  Burger
</div>
