---
const YoutubeLink = "https://www.youtube.com/@goat7480";
const InstagramLink = "https://www.instagram.com/goat__corp/?hl=en";
---

<footer>
  <div class="w-full flex gap-4 items-center justify-center">
    <a
      target="_blank"
      href={YoutubeLink}
    >
      YT
    </a>
    <a
      target="_blank"
      href={InstagramLink}
    >
      IG
    </a>
  </div>
</footer>
