---
import BaseHeader from "@/components/BaseHeader.astro";
import BaseFooter from "@/components/BaseFooter.astro";
import Layout from '@/layouts/Layout.astro';

const { title } = Astro.props;
---
<Layout title={title}>
  <main class="base-layout flex flex-col h-screen">
    <BaseHeader />
    <div class="flex flex-col grow">
      <slot />
    </div>
    <BaseFooter
  </main>
</Layout>

